<div class="container">
  <div class="screen"></div>
  <div class="row" id="la_row_1">
    <app-butaca let butacaId="f1" ></app-butaca>
  </div>
  <div class="row" id="la_row_2">
    <app-butaca let butacaId="e1"></app-butaca>
    <app-butaca let butacaId="e2"></app-butaca>

  </div>
  <div class="row" id="la_row_3">
    <app-butaca let butacaId="d1"></app-butaca>
    <app-butaca let butacaId="d2"></app-butaca>
    <app-butaca let butacaId="d3"></app-butaca>
  </div>
  <div class="row" id="la_row_4">
    <app-butaca let butacaId="c1"></app-butaca>
    <app-butaca let butacaId="c2"></app-butaca>
    <app-butaca let butacaId="c3"></app-butaca>
    <app-butaca let butacaId="c4"></app-butaca>
  </div>
  <div class="row la_row_5y6">
    <app-butaca let butacaId="b1"></app-butaca>
    <app-butaca let butacaId="b2"></app-butaca>
    <app-butaca let butacaId="b3"></app-butaca>
    <app-butaca let butacaId="b4"></app-butaca>
    <app-butaca let butacaId="b5"></app-butaca>
    <app-butaca let butacaId="b6"></app-butaca>
  </div>
  <div class="row la_row_5y6">
    <app-butaca let butacaId="a1"></app-butaca>
    <app-butaca let butacaId="a2"></app-butaca>
    <app-butaca let butacaId="a3"></app-butaca>
    <app-butaca let butacaId="a4"></app-butaca>
    <app-butaca let butacaId="a5"></app-butaca>
    <app-butaca let butacaId="a6"></app-butaca>
  </div>

</div>


