<div class="container">
  <div class="screen"></div>
  <div class="row">
    <app-butaca let butacaId="f4" ></app-butaca>
    <app-butaca let butacaId="f3" ></app-butaca>
    <app-butaca let butacaId="f2" ></app-butaca>
    <app-butaca let butacaId="f1" ></app-butaca>
  </div>
  <div class="row">
    <app-butaca let butacaId="e4" ></app-butaca>
    <app-butaca let butacaId="e3" ></app-butaca>
    <app-butaca let butacaId="e2" ></app-butaca>
    <app-butaca let butacaId="e1" ></app-butaca>

  </div>
  <div class="row">
    <app-butaca let butacaId="d4" ></app-butaca>
    <app-butaca let butacaId="d3" ></app-butaca>
    <app-butaca let butacaId="d2" ></app-butaca>
    <app-butaca let butacaId="d1" ></app-butaca>

  </div>
  <div class="row">
    <app-butaca let butacaId="c4" ></app-butaca>
    <app-butaca let butacaId="c3" ></app-butaca>
    <app-butaca let butacaId="c2" ></app-butaca>
    <app-butaca let butacaId="c1" ></app-butaca>

  </div>
  <div class="row">
    <app-butaca let butacaId="b4" ></app-butaca>
    <app-butaca let butacaId="b3" ></app-butaca>
    <app-butaca let butacaId="b2" ></app-butaca>
    <app-butaca let butacaId="b1" ></app-butaca>
  </div>

  <div class="row">
    <app-butaca let butacaId="a4" ></app-butaca>
    <app-butaca let butacaId="a3" ></app-butaca>
    <app-butaca let butacaId="a2" ></app-butaca>
    <app-butaca let butacaId="a1" ></app-butaca>
  </div>

</div>

